@import "tailwindcss";

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", sans-serif;
}

.input-wrapper:focus-within label {
  color: var(--color-blue-base);
  font-weight: bold;
}

@theme {
  --color-blue-base: #2c46b1;
  --color-blue-dark: #2c4091;
  --color-white: #ffffff;
  --color-gray-100: #f9f9fb;
  --color-gray-200: #e4e6ec;
  --color-gray-300: #cdcfd5;
  --color-gray-400: #74798b;
  --color-gray-500: #4d505c;
  --color-gray-600: #1f2025;
  --color-danger: #b12c4d;

  --font-family-sans: "Open Sans", sans-serif;

  --text-xl: 1.5rem;
  --text-lg: 1.125rem;
  --text-md: 0.875rem;
  --text-sm: 0.75rem;
  --text-xs: 0.625rem;

  --leading-xl: 2rem;
  --leading-lg: 1.5rem;
  --leading-md: 1.125rem;
  --leading-sm: 1rem;
  --leading-xs: 0.875rem;
}
